@import url("./reset.css");
@import url("./typography.css");
@import url("./variables.css");
@import url("./utility.css");
@import url("./components/contact-us.css");
/* Importing Navbar */
@import url("./components/navbar.css");
/* Importing Hero */
@import url("./components/hero.css");
@import url("./components/about-us.css");
@import url("./components/counters.css");
@import url("./components/blog.css");
@import url("./components/slides.css");
@import url("./components/modal.css");

.landing {
  background-image: url("../assets/images/hero-bg.png");
  overflow-x: hidden;
}

footer {
  text-align: center;
  color: var(--primary);
}