@import url("./reset.css");
@import url("./typography.css");
@import url("./variables.css");
@import url("./utility.css");

/* Importing Navbar */
@import url("./components/navbar.css");
/* Importing Hero */
@import url("./components/hero.css");

.landing {
  background-image: url("../assets/images/hero-bg.png");
  overflow-x: hidden;
}
